SECRET_KEY=your-secret-key
JWT_SECRET_KEY=jwt-secret
DATABASE_URL=postgresql://iskhumba_db_user:UmLUdiJTOd4WB4yrcPLlPzqMfuqCMOKX@dpg-d9g88j7lk1mc73a5j45g-a/iskhumba_db
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
