SECRET_KEY=your-secret-key
JWT_SECRET_KEY=jwt-secret
DATABASE_URL=postgresql://user:pass@localhost:5432/iskhumba_db
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
